* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    color: #fdfdfd;
    text-decoration: none;
    max-width: 100%;
    scroll-behavior: smooth;
}

/* Style for the title */
h1 {
    font-size: 40px;
    transition: all 150ms ease-in-out;
    margin: 0;
}

h2 {
    font-size: 35px;
    padding-left: 60px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: -40px;
}
h3 {
    font-size: 35px;
    padding-left: 60px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: -40px;
}
strong {
    font-size: 22px;
    margin: 30px;
}
header {
    z-index: 1;
    position: sticky;
    top: 0;
    text-align: right;
    transition: all 150ms ease-in-out;
}
.header {
    color: #ffffff;
    padding-top: 20px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
    padding-bottom: 18px;
}
.logo {
    transition: all 150ms ease-in-out;
    position: absolute;
    top: 12.5px; /* Adjust the top position as needed */
    left: 48px; /* Adjust the left position for top-left corner */
    width: 238px; /* Adjust the width of the logo as needed */
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 5);
}
h4 {
    display: inline-block;
    font-size: 30px;
    margin-top: -60px;
    margin-right: 30px;
}
@media only screen and (max-width: 980px) {
    header {
        z-index: 1;
        position: sticky;
        top: 0;
        text-align: right;
        transition: all 150ms ease-in-out;
    }
    h4 {
        max-width: 200px;
        transition: all 150ms ease-in-out;
    }
    .logo {
        position: absolute;
        left: auto;
        top: auto;
        transition: all 150ms ease-in-out;
        left: 10px;
        width: 238px; /* Make the logo fill the width of its container */
    }
}
body {
    background-color: rgb(13, 13, 13);
    margin-bottom: 100px;
}
p {
    padding: 10px;
    /* margin-bottom: 100px;   */
}
table {
    /* padding: 10px; */
    border-collapse: collapse; /* Merge cell borders for consistent styling */
    font-size: 22px;
    border: none;
    margin-top: 10px;
    /* margin-bottom: 100px;   */
}
tr,
th,
td {
    padding: 10px;
    border: none;
    padding-right: 100px; /* Set padding for both headers (th) and data cells (td) */
    border: 1px solid black; /* Add borders for illustration */
}
ul {
    padding: 10px;
}
li {
    padding: 2px 50px;
}
code {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: rgba(41, 43, 44, 0.9);
    border-color: rgb(64, 68, 70);
    border: 5px 5px 5px 5px;
    border-radius: 10px;
    font-family: "Inter Tight", sans-serif;
    text-align: left;
    /* margin: 0px; */
}
textarea {
    width: 1000px; /* Set the width */
    height: 100px; /* Set the height */
    font-size: 20px;
    background-color: rgba(41, 43, 44, 0.9);
}
.get {
    display: block;
    margin: 50px;
    margin-bottom: -20px;

    border: 5px solid rgb(34, 55, 49);
    padding: 10px;
    border-radius: 30px;
    background: rgb(102, 203, 141);
    transition: height 0.8s ease-in-out;
}
.getText {
    display: inline-block;
    position: relative;

    background-color: #0fa863;
    top: 5px;
    padding: 10px;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
    transition: height 0.8s ease-in-out;
}
.post {
    display: block;
    margin: 50px;
    margin-bottom: -20px;

    border: 5px solid rgb(131, 104, 42);
    padding: 10px;
    border-radius: 30px;
    background: rgb(201, 165, 80);
    transition: height 0.8s ease-in-out;
}

.postText {
    display: inline-block;
    position: relative;

    background-color: rgb(166, 118, 8);
    top: 5px;
    padding: 10px;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
}

.put {
    display: block;
    margin: 50px;
    margin-bottom: -20px;

    border: 5px solid rgb(27, 89, 143);
    padding: 10px;
    border-radius: 30px;
    background: rgb(87, 149, 203);
    font-size: 16px;
    transition: height 0.8s ease-in-out;
}
.putText {
    display: inline-block;
    position: relative;

    background-color: rgb(48, 100, 163);
    top: 5px;
    padding: 10px;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
}

.delete {
    display: block;
    margin: 50px;
    margin-bottom: -20px;
    border: 5px solid rgb(120, 52, 45);
    padding: 10px;
    border-radius: 30px;
    background: rgb(163, 72, 64);
    font-size: 16px;
    transition: height 0.8s ease-in-out;
}
.deleteText {
    display: inline-block;
    position: relative;

    background-color: rgb(142, 26, 16);
    top: 5px;
    padding: 10px;
    left: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-size: 23px;
    font-weight: bold;
}

.expandable {
    display: block;
    overflow: hidden;
    max-height: 0;
    font-size: 22px;
    padding-left: 20px;
    transition: max-height 0.7s ease-in-out;
}
.expandable.expanded {
    /* height: 1000px; */
    font-size: 22px;
    padding-left: 20px;
    transition: max-height 0.9s ease-in-out;
    max-height: 1000px;
}

.deleteText.hoverable:hover {
    transform: translate(0, -5%) scale(103%, 103%);
    background-color: rgb(156, 50, 40);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.getText.hoverable:hover {
    transform: translate(0, -5%) scale(103%, 103%);
    background-color: #18c779;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.postText.hoverable:hover {
    transform: translate(0, -5%) scale(103%, 103%);
    background-color: rgb(187, 144, 42);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.putText.hoverable:hover {
    transform: translate(0, -5%) scale(103%, 103%);
    background-color: rgb(55, 129, 220);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

h4:hover {
    transform: translate(0, -5%) scale(103%, 103%);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
